//
//  debug.xcconfig
//  ScavengerHunt
//
//  Created by Jerish Bovas on 2023-05-31.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

VISION_ENDPOINT=scavengerhuntvision.cognitiveservices.azure.com
VISION_KEY=c3b77a9b391a4d6c88c3167e5c57720f
API_ENDPOINT=api.scavengerhunt.quest
